/* nav {
  height: 24px;
  padding: 10px;
  background-color: rgb(64, 125, 125);
  position: sticky;
  top: 0;
}

.active {
  color: lightyellow;
  text-decoration: none;
}

nav a {
  margin: 15px 10px;
}

a:hover {
  text-decoration: underline;
} */
